<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <section>
        <div class="banner d-flex justify-content-center align-items-center">
            <div class="text-center text-white">
                <h1 class="display-3 fw-bold">Smart Contact Manager</h1>
                <p class="lead">Start organizing your contacts in a very efficient way.</p>
                <button class="btn btn-primary btn-lg">Get Started</button>
            </div>
        </div>
    </section>
</body>
</html>