<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="card shadow border-0 rounded">
                    <div class="card-body p-4">

                        <h3 class="text-center text-warning mb-3">
                            Set New Password
                        </h3>

                        <form th:action="@{/update-password}" method="post">

                            <div class="mb-3">
                                <label>New Password</label>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       required>
                            </div>

                            <div class="mb-3">
                                <label>Confirm Password</label>
                                <input type="password"
                                       name="confirmPassword"
                                       class="form-control"
                                       required>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-warning">
                                    Update Password
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</html>