<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Verify OTP</title>
</head>

<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="card shadow border-0 rounded">
                    <div class="card-body p-4">

                        <h3 class="text-center text-success mb-3">
                            Verify OTP
                        </h3>

                        <p class="text-center text-muted">
                            Enter the 6-digit OTP sent to your email
                        </p>

                        <div th:if="${param.invalid}" 
                             class="alert alert-danger text-center">
                            Invalid or Expired OTP
                        </div>

                        <form th:action="@{/verify-otp}" method="post">

                            <div class="mb-3">
                                <input type="text"
                                       name="otp"
                                       class="form-control text-center"
                                       maxlength="6"
                                       placeholder="Enter OTP"
                                       required>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-success">
                                    Verify OTP
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</html>